Repository aws-samples/container-patterns, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, pattern, author-added, lintjs, workflow

initial commit for ecs-fargate-apigateway-cloudmap-cdk
  author/pahud.md
  data/authors.yml
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.eslintrc.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.gitattributes
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.gitignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.npmignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/deps.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/files.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/tasks.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projenrc.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/API.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/cdk.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/images/apig-lb-fargate-service.svg
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/package.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/service-connect-handler/index.py
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/service-connect-handler/requirements.txt
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/agw-balanced-fargate-service.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/index.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/integ.default.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/test/__snapshots__/integ.default.test.ts.snap
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/test/integ.default.test.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/tsconfig.dev.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/yarn.lock
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern, author-added

minor
  pattern/ecs-fargate-apigateway-cloudmap-cdk/diagram.svg
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/API.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

update diagram
  pattern/ecs-fargate-apigateway-cloudmap-cdk/diagram.svg
Labels: pattern

Adding an EFS extensions example
  pattern/ecs-service-extensions-cdk-efs-volume/files/cdk.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/ecs-exec.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/efs-volume.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/index.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/package-lock.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/package.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/static-scale.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/tsconfig.json
  pattern/ecs-service-extensions-cdk-efs-volume/index.md
Labels: pattern

Update index.md
  pattern/elastic-file-system-aws-copilot/index.md
Labels: pattern

minor
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/deps.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/tasks.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projenrc.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/package.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/yarn.lock
Labels: pattern

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/labeler.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

test with GITHUB TOKEN support
  .github/workflows/lint_and_release.yml
Labels: workflow

More instructions and cross links
  pattern/ecs-service-extensions-cdk-efs-volume/diagram.svg
  pattern/ecs-service-extensions-cdk-efs-volume/index.md
  pattern/ecs-service-extensions-custom-extension/index.md
  pattern/ecs-service-extensions-load-balancer-cdk/index.md
  pattern/elastic-file-system-ecs-cdk/index.md
Labels: pattern

using tsconfig.dev.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

update
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

add diagram
  pattern/ecs-fargate-apigateway-cloudmap-cdk/diagram.svg
Labels: pattern

update
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/deps.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/tasks.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projenrc.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/package.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/yarn.lock
Labels: pattern

update path
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

minor
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

add pahud.jpg
  public/images/authors/pahud.jpg
Labels: none

add capacity and feature
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

minor update
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

update diagram
  pattern/ecs-fargate-apigateway-cloudmap-cdk/diagram.svg
Labels: pattern

delete images folder
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/images/apig-lb-fargate-service.svg
Labels: pattern

update API.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/API.md
Labels: pattern

update
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.gitignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.npmignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projenrc.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/API.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/README.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/diagram.svg
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

add Sample in the index.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

update index.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
Labels: pattern

Fix dark mode diagram
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/diagram.svg
Labels: pattern

feat: ecs-fargate-apitgateway-cloudmap-cdk (#24)
  author/pahud.md
  data/authors.yml
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.eslintrc.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.gitattributes
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.gitignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.npmignore
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/deps.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/files.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projen/tasks.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/.projenrc.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/API.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/README.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/cdk.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/diagram.svg
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/package.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/service-connect-handler/index.py
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/service-connect-handler/requirements.txt
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/agw-balanced-fargate-service.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/index.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/src/integ.default.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/test/__snapshots__/integ.default.test.ts.snap
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/test/integ.default.test.ts
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/tsconfig.dev.json
  pattern/ecs-fargate-apigateway-cloudmap-cdk/files/yarn.lock
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
  public/images/authors/pahud.jpg
Labels: pattern, author-added

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'pattern' label to any change to blog post files
pattern:
- pattern/**

# Add 'author-added' label
author-added:
- author/**

# Add 'lintjs' to any change to lint.js
lintjs:
- lint.js

# Add 'workflow' label
workflow:
- .github/workflows/**
