Repository aws-samples/container-patterns, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, pattern, author-added, lintjs, workflow

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'pattern' label to any change to blog post files
pattern:
- pattern/**

# Add 'author-added' label
author-added:
- author/**

# Add 'lintjs' to any change to lint.js
lintjs:
- lint.js

# Add 'workflow' label
workflow:
- .github/workflows/**

Add pattern showing a durable storage volume with ECS Service Extensions (#23)
  pattern/ecs-service-extensions-cdk-efs-volume/diagram.svg
  pattern/ecs-service-extensions-cdk-efs-volume/files/cdk.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/ecs-exec.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/efs-volume.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/index.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/package-lock.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/package.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/static-scale.ts
  pattern/ecs-service-extensions-cdk-efs-volume/files/tsconfig.json
  pattern/ecs-service-extensions-cdk-efs-volume/index.md
  pattern/ecs-service-extensions-custom-extension/index.md
  pattern/ecs-service-extensions-load-balancer-cdk/index.md
  pattern/elastic-file-system-ecs-cdk/index.md
Labels: pattern

pull-request-target trigger changes
  .github/workflows/labeler.yml
  .github/workflows/lint_and_release.yml
Labels: workflow

Update README.md
  README.md
Labels: repo

fork pr test
  pattern/test
Labels: pattern

Update README.md (#27)
  README.md
Labels: repo

Start of adding content about IAM roles for ECS
  pattern/ecs-example-iam-roles/ecs-task-execution-role.pptx
  pattern/ecs-example-iam-roles/ecs-task-execution-role.svg
  pattern/ecs-example-iam-roles/index.md
  pattern/task-execution-iam-role-efs/index.md
Labels: pattern

Adding IAM examples, fixing incorrect CFN comment
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-example-iam-roles/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/low-cost-vpc-amazon-ecs-cluster/index.md
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/task-execution-iam-role-efs/index.md
  pattern/task-execution-iam-role-secrets-manager/index.md
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

better description
  pattern/ecs-example-iam-roles/index.md
Labels: pattern

Better content on ECS Task Execution role (#30)
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-example-iam-roles/ecs-task-execution-role.pptx
  pattern/ecs-example-iam-roles/ecs-task-execution-role.svg
  pattern/ecs-example-iam-roles/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/low-cost-vpc-amazon-ecs-cluster/index.md
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/task-execution-iam-role-efs/index.md
  pattern/task-execution-iam-role-secrets-manager/index.md
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

removing proton filter
  data/filters.yml
Labels: none

removing proton filter (#31)
  data/filters.yml
Labels: none

Adding examples of how to view a container's content
  pattern/view-contents-of-a-docker-image-locally/index.md
Labels: pattern

Adding examples of how to view a container's content (#32)
  pattern/view-contents-of-a-docker-image-locally/index.md
Labels: pattern

Adding example of Bun JS with AWS SDK
  pattern/bun-js-aws-sdk-container/bun-aws-sdk-javascript.pptx
  pattern/bun-js-aws-sdk-container/bun-javascript-fargate.svg
  pattern/bun-js-aws-sdk-container/files/Dockerfile
  pattern/bun-js-aws-sdk-container/files/bun.lockb
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/index.ts
  pattern/bun-js-aws-sdk-container/files/package-lock.json
  pattern/bun-js-aws-sdk-container/files/package.json
  pattern/bun-js-aws-sdk-container/files/parent.yml
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/bun-js-aws-sdk-container/files/vpc.yml
  pattern/bun-js-aws-sdk-container/index.md
Labels: pattern

Adding example of Bun JS with AWS SDK (#33)
  pattern/bun-js-aws-sdk-container/bun-aws-sdk-javascript.pptx
  pattern/bun-js-aws-sdk-container/bun-javascript-fargate.svg
  pattern/bun-js-aws-sdk-container/files/Dockerfile
  pattern/bun-js-aws-sdk-container/files/bun.lockb
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/index.ts
  pattern/bun-js-aws-sdk-container/files/package-lock.json
  pattern/bun-js-aws-sdk-container/files/package.json
  pattern/bun-js-aws-sdk-container/files/parent.yml
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/bun-js-aws-sdk-container/files/vpc.yml
  pattern/bun-js-aws-sdk-container/index.md
Labels: pattern

Adding cfn-lint
  .cfnlintrc.yml
  package-lock.json
  package.json
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/service.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/ecs-task-events-capture-cloudwatch/files/eventbridge-ecs-task-events.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/jupyter-notebook.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/service.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/service.yml
Labels: repo, pattern

Saving inn-progress work
  lint.sh
  lint/guard/README.md
  lint/guard/ecs-task-role.guard
  lint/guard/guard-test/ecs-task-role-tests.yaml
  lint/lint.js
  package.json
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/bottlerocket-updater.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-example-iam-roles/files/ecs-task-execution-role.yml
  pattern/ecs-example-iam-roles/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/task-execution-iam-role-efs/index.md
  pattern/task-execution-iam-role-secrets-manager/index.md
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: repo, pattern

Cleaner lint script
  lint.sh
  package-lock.json
  package.json
Labels: repo

Adding a policy violation as a test
  pattern/ecs-example-iam-roles/files/ecs-task-execution-role.yml
Labels: pattern

Adding required condition back
  pattern/ecs-example-iam-roles/files/ecs-task-execution-role.yml
Labels: pattern

Adding CloudFormation linting (#40)
  .cfnlintrc.yml
  lint.sh
  lint/guard/README.md
  lint/guard/ecs-task-role.guard
  lint/guard/guard-test/ecs-task-role-tests.yaml
  lint/lint.js
  package.json
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/bottlerocket-updater.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/service.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-example-iam-roles/files/ecs-task-execution-role.yml
  pattern/ecs-example-iam-roles/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/ecs-task-events-capture-cloudwatch/files/eventbridge-ecs-task-events.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/jupyter-notebook.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/service.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/task-execution-iam-role-efs/index.md
  pattern/task-execution-iam-role-secrets-manager/index.md
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/service.yml
Labels: repo, pattern

Saving progress on service discovery pattern
  pattern/service-discovery-fargate-microservice-cloud-map/files/cluster.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/.gitignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/README.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/package-lock.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/package.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/.gitignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/README.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/jsconfig.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/name.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/name/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/name/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/parent.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/vpc.yml
  pattern/service-discovery-fargate-microservice-cloud-map/index.md
Labels: pattern

Fix typo in index.md
  pattern/cloudformation-ecs-durable-task-storage-with-efs/index.md
Labels: pattern

Fix subnet description in ecs-mount-efs-storage.yml
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
Labels: pattern

Adding service discovery pattern
  data/filters.yml
  pattern/ecs-service-connect-aws-copilot/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.pptx
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.svg
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/index.md
Labels: pattern

fixing typo in diagram
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.pptx
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.svg
Labels: pattern

Fix subnet description in ecs-mount-efs-storage.yml (#43)
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
Labels: pattern

Fix typo in index.md (#42)
  pattern/cloudformation-ecs-durable-task-storage-with-efs/index.md
Labels: pattern

Service discovery pattern (#44)
  data/filters.yml
  pattern/ecs-service-connect-aws-copilot/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.pptx
  pattern/service-discovery-fargate-microservice-cloud-map/diagram.svg
  pattern/service-discovery-fargate-microservice-cloud-map/files/cluster.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/.gitignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/README.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/package-lock.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/package.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/.gitignore
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/README.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello/jsconfig.json
  pattern/service-discovery-fargate-microservice-cloud-map/files/name.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/name/Dockerfile
  pattern/service-discovery-fargate-microservice-cloud-map/files/name/index.js
  pattern/service-discovery-fargate-microservice-cloud-map/files/parent.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/vpc.yml
  pattern/service-discovery-fargate-microservice-cloud-map/index.md
Labels: pattern

Upgrading version of CDK packages
  pattern/advanced-public-facing-service-cdk/files/cdk.json
  pattern/advanced-public-facing-service-cdk/files/package-lock.json
  pattern/advanced-public-facing-service-cdk/files/package.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/GpuTask.assets.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/GpuTask.template.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/cdk.out
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/manifest.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/tree.json
  pattern/ecs-gpu-scheduling-cdk/files/package-lock.json
  pattern/ecs-gpu-scheduling-cdk/files/package.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/package.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/custom-ecs-service-extension.assets.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/custom-ecs-service-extension.template.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/tree.json
  pattern/ecs-service-extensions-custom-extension/files/package-lock.json
  pattern/ecs-service-extensions-custom-extension/files/package.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/ECSStack.assets.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/ECSStack.template.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/tree.json
  pattern/ecs-service-extensions-firelens-cdk/files/package-lock.json
  pattern/ecs-service-extensions-firelens-cdk/files/package.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/ECSStack.assets.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/ECSStack.template.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/tree.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/package-lock.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/package.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/cdk.out
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/fargate-efs-sample.assets.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/fargate-efs-sample.template.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/manifest.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/tree.json
  pattern/elastic-file-system-ecs-cdk/files/package-lock.json
  pattern/elastic-file-system-ecs-cdk/files/package.json
Labels: pattern

Upgrading version of CDK packages (#46)
  pattern/advanced-public-facing-service-cdk/files/cdk.json
  pattern/advanced-public-facing-service-cdk/files/package-lock.json
  pattern/advanced-public-facing-service-cdk/files/package.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/GpuTask.assets.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/GpuTask.template.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/cdk.out
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/manifest.json
  pattern/ecs-gpu-scheduling-cdk/files/cdk.out/tree.json
  pattern/ecs-gpu-scheduling-cdk/files/package-lock.json
  pattern/ecs-gpu-scheduling-cdk/files/package.json
  pattern/ecs-service-extensions-cdk-efs-volume/files/package.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/custom-ecs-service-extension.assets.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/custom-ecs-service-extension.template.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-custom-extension/files/cdk.out/tree.json
  pattern/ecs-service-extensions-custom-extension/files/package-lock.json
  pattern/ecs-service-extensions-custom-extension/files/package.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/ECSStack.assets.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/ECSStack.template.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-firelens-cdk/files/cdk.out/tree.json
  pattern/ecs-service-extensions-firelens-cdk/files/package-lock.json
  pattern/ecs-service-extensions-firelens-cdk/files/package.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/ECSStack.assets.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/ECSStack.template.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/cdk.out
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/manifest.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/cdk.out/tree.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/package-lock.json
  pattern/ecs-service-extensions-load-balancer-cdk/files/package.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/cdk.out
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/fargate-efs-sample.assets.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/fargate-efs-sample.template.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/manifest.json
  pattern/elastic-file-system-ecs-cdk/files/cdk.out/tree.json
  pattern/elastic-file-system-ecs-cdk/files/package-lock.json
  pattern/elastic-file-system-ecs-cdk/files/package.json
Labels: pattern

Saving progress
  pattern/api-gateway-fargate-cloudformation/files/api-gateway.yml
  pattern/api-gateway-fargate-cloudformation/files/cluster.yml
  pattern/api-gateway-fargate-cloudformation/files/parent.yml
  pattern/api-gateway-fargate-cloudformation/files/service.yml
  pattern/api-gateway-fargate-cloudformation/files/vpc.yml
  pattern/api-gateway-fargate-cloudformation/index.md
Labels: pattern

CloudFormation all works now, thank god
  pattern/api-gateway-fargate-cloudformation/files/api-gateway.yml
  pattern/api-gateway-fargate-cloudformation/files/parent.yml
  pattern/api-gateway-fargate-cloudformation/files/service.yml
Labels: pattern

Filling out content for API Gateway pattern
  pattern/api-gateway-fargate-cloudformation/diagram.pptx
  pattern/api-gateway-fargate-cloudformation/diagram.svg
  pattern/api-gateway-fargate-cloudformation/files/api-gateway.yml
  pattern/api-gateway-fargate-cloudformation/files/parent.yml
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/public-facing-api-ecs-fargate-cloudformation/index.md
  pattern/public-facing-web-ecs-fargate-cloudformation/index.md
Labels: pattern

Fix typo
  pattern/api-gateway-fargate-cloudformation/index.md
Labels: pattern

Api gateway fargate cloudformation pattern (#47)
  pattern/api-gateway-fargate-cloudformation/diagram.pptx
  pattern/api-gateway-fargate-cloudformation/diagram.svg
  pattern/api-gateway-fargate-cloudformation/files/api-gateway.yml
  pattern/api-gateway-fargate-cloudformation/files/cluster.yml
  pattern/api-gateway-fargate-cloudformation/files/parent.yml
  pattern/api-gateway-fargate-cloudformation/files/service.yml
  pattern/api-gateway-fargate-cloudformation/files/vpc.yml
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/public-facing-api-ecs-fargate-cloudformation/index.md
  pattern/public-facing-web-ecs-fargate-cloudformation/index.md
Labels: pattern

Fix issue with capacity provider launched instances not scaling in
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Fix issue with capacity provider launched instances not scaling in (#48)
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Adding build and release process guide
  pattern/public-facing-api-ecs-ec2-cloudformation/index.md
  pattern/release-container-to-production-task-definition/files/deploy.sh
  pattern/release-container-to-production-task-definition/index.md
  pattern/release-container-to-production-task-definition/release.pptx
  pattern/release-container-to-production-task-definition/release.svg
Labels: pattern

Adding mention of circuit breakers
  pattern/release-container-to-production-task-definition/index.md
Labels: pattern
