Repository aws-samples/container-patterns, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, pattern, author-added, lintjs, workflow

Saving progress so far
  pattern/ecs-ipv6/files/cluster.yml
  pattern/ecs-ipv6/files/ipv6-vpc.yml
  pattern/ecs-ipv6/files/parent.yml
  pattern/ecs-ipv6/files/service.yml
  pattern/ecs-ipv6/index.md
Labels: pattern

Saving progress on sample IPv6 app
  pattern/ecs-ipv6/files/app/Dockerfile
  pattern/ecs-ipv6/files/app/index.js
  pattern/ecs-ipv6/files/app/package-lock.json
  pattern/ecs-ipv6/files/app/package.json
  pattern/ecs-ipv6/files/parent.yml
  pattern/ecs-ipv6/files/service.yml
  pattern/ecs-ipv6/index.md
Labels: pattern

Verifying IPv6 egress gateway with EC2 API
  pattern/ecs-ipv6/files/app/index.js
  pattern/ecs-ipv6/files/service.yml
Labels: pattern

Orphaned instance pattern
  pattern/prevent-orphaned-instances/diagram.svg
  pattern/prevent-orphaned-instances/files/orphan-instance-stack.yml
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

modified IAM role policies
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

minor fixes
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

Saving progress on the IPv6 explanation
  pattern/ecs-ipv6/index.md
Labels: pattern

minor changes
  pattern/prevent-orphaned-instances/diagram.svg
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

Cleanups and improvements
  pattern/api-gateway-fargate-cloudformation/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/Dockerfile
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/index.js
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/package-lock.json
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/package.json
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/cluster.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/ipv6-vpc.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/parent.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/service.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/cluster.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

typo
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

Adding architecture diagram
  pattern/dual-stack-ipv6-networking-ecs-fargate/diagram.pptx
  pattern/dual-stack-ipv6-networking-ecs-fargate/diagram.svg
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
Labels: pattern

tiny typo
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
Labels: pattern

ECS dual stack IPv6 deployment (#89)
  pattern/api-gateway-fargate-cloudformation/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/bun-js-aws-sdk-container/files/cluster.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/diagram.pptx
  pattern/dual-stack-ipv6-networking-ecs-fargate/diagram.svg
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/Dockerfile
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/index.js
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/package-lock.json
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/package.json
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/cluster.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/ipv6-vpc.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/parent.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/service.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/cluster.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Orphaned instance pattern (#88)
  pattern/prevent-orphaned-instances/diagram.svg
  pattern/prevent-orphaned-instances/files/orphan-instance-stack.yml
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

node dockerfile examples
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/service.yml
  pattern/nodejs-container-dockerfile/files/Dockerfile
  pattern/nodejs-container-dockerfile/index.md
Labels: pattern

Add Node.js container example
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/service.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
  pattern/ecs-service-connect-aws-copilot/files/greeter/Dockerfile
  pattern/ecs-service-connect-aws-copilot/files/greeting/Dockerfile
  pattern/ecs-service-connect-aws-copilot/files/name/Dockerfile
  pattern/nodejs-container-dockerfile/files/.dockerignore
  pattern/nodejs-container-dockerfile/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerfile
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/Dockerfile
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/index.md
Labels: pattern

more cleanups and improvements
  pattern/bun-js-aws-sdk-container/index.md
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
Labels: pattern

Fix bad key
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
Labels: pattern

Add node build diagram
  pattern/nodejs-container-dockerfile/diagram.pptx
  pattern/nodejs-container-dockerfile/diagram.svg
  pattern/nodejs-container-dockerfile/index.md
Labels: pattern

Node examples (#90)
  pattern/bun-js-aws-sdk-container/index.md
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/app/Dockerfile
  pattern/dual-stack-ipv6-networking-ecs-fargate/files/service.yml
  pattern/dual-stack-ipv6-networking-ecs-fargate/index.md
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
  pattern/ecs-service-connect-aws-copilot/files/greeter/Dockerfile
  pattern/ecs-service-connect-aws-copilot/files/greeting/Dockerfile
  pattern/ecs-service-connect-aws-copilot/files/name/Dockerfile
  pattern/nodejs-container-dockerfile/diagram.pptx
  pattern/nodejs-container-dockerfile/diagram.svg
  pattern/nodejs-container-dockerfile/files/.dockerignore
  pattern/nodejs-container-dockerfile/files/Dockerfile
  pattern/nodejs-container-dockerfile/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello-node/Dockerfile
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/index.md
Labels: pattern

Adding pattern for denying kernel capabilities
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/bad-task-def.yml
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/no-capabilities-for-tasks.guard
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/safe-task-def.yml
  pattern/deny-kernel-capabilities-ecs-fargate-task/index.md
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Adding missing part file
  parts/cloudformation-guard.md
Labels: none

fixed small typo
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

fixed small typo (#93)
  pattern/prevent-orphaned-instances/index.md
Labels: pattern

changes bottlerocket variant to ecs-2 and adds link to docs for udpater
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-bottlerocket-cluster/index.md
Labels: pattern

Updating with AWS Fargate s[ecific tip
  pattern/deny-kernel-capabilities-ecs-fargate-task/index.md
Labels: pattern

Adding pattern for denying kernel capabilities (#92)
  parts/cloudformation-guard.md
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/bad-task-def.yml
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/no-capabilities-for-tasks.guard
  pattern/deny-kernel-capabilities-ecs-fargate-task/files/safe-task-def.yml
  pattern/deny-kernel-capabilities-ecs-fargate-task/index.md
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Adding new policy as code example
  pattern/deny-kernel-capabilities-ecs-fargate-task/index.md
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/deny-root-user-ecs-fargate-task/files/bad-task-defs.yml
  pattern/deny-root-user-ecs-fargate-task/files/no-root-for-tasks.guard
  pattern/deny-root-user-ecs-fargate-task/files/safe-task-defs.yml
  pattern/deny-root-user-ecs-fargate-task/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Adding new policy as code example (#95)
  pattern/deny-kernel-capabilities-ecs-fargate-task/index.md
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/deny-root-user-ecs-fargate-task/files/bad-task-defs.yml
  pattern/deny-root-user-ecs-fargate-task/files/no-root-for-tasks.guard
  pattern/deny-root-user-ecs-fargate-task/files/safe-task-defs.yml
  pattern/deny-root-user-ecs-fargate-task/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Update .gitignore
  .gitignore
Labels: repo

Create validate.ymal
  .github/workflows/validate.ymal
Labels: workflow

Update package.json
  package.json
Labels: repo

Test Pattern
  pattern/test-pattern/index.md
Labels: pattern

Fix: Remove archived workshop
  pattern/workshop-serverless-first-aws/architecture.pptx
  pattern/workshop-serverless-first-aws/diagram.svg
  pattern/workshop-serverless-first-aws/index.md
Labels: pattern

Fix: Remove archived workshop (#106)
  pattern/workshop-serverless-first-aws/architecture.pptx
  pattern/workshop-serverless-first-aws/diagram.svg
  pattern/workshop-serverless-first-aws/index.md
Labels: pattern

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'pattern' label to any change to blog post files
pattern:
- pattern/**

# Add 'author-added' label
author-added:
- author/**

# Add 'lintjs' to any change to lint.js
lintjs:
- lint.js

# Add 'workflow' label
workflow:
- .github/workflows/**
