Repository aws-samples/container-patterns, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, pattern, author-added, lintjs, workflow

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'pattern' label to any change to blog post files
pattern:
- pattern/**

# Add 'author-added' label
author-added:
- author/**

# Add 'lintjs' to any change to lint.js
lintjs:
- lint.js

# Add 'workflow' label
workflow:
- .github/workflows/**

update linting and policy checks
  .cfnlintrc.yml
  lint.sh
  pattern/sam-fargate/files/template.yml
  pattern/sam-fargate/index.md
  prompt
Labels: repo, pattern

watch it fail
  pattern/sam-fargate/index.md
Labels: pattern

fix the failure, revert to passing
  pattern/sam-fargate/index.md
Labels: pattern

Adding pattern for blocking privileged containers (#63)
  pattern/deny-privileged-container-ecs-policy-as-code/files/privileged-task-def.yml
  pattern/deny-privileged-container-ecs-policy-as-code/files/privileged-tasks.guard
  pattern/deny-privileged-container-ecs-policy-as-code/files/safe-task-def.yml
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Initial commit
  .gitignore
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-01.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-02.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/registry.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/Dockerfile
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/__init__.py
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/requirements.txt
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/sigverify.py
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: repo, pattern

Saving progress
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-03.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sample-tasks.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify.yml
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Working end to end
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.pptx
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.svg
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-01.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-02.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-03.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/redeploy.sh
  pattern/ecs-fargate-container-image-signing-and-verification/files/registry.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sample-task.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/Dockerfile
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/__init__.py
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/requirements.txt
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/sigverify.py
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Fix linter error
  pattern/ecs-fargate-container-image-signing-and-verification/files/sample-task.yml
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Update pattern/ecs-fargate-container-image-signing-and-verification/index.md
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Updates to address comments
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

update diagram
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.pptx
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.svg
Labels: pattern

Adding example output when signature does not match any trusted identities
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Cleaning up example output a bit more
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: pattern

Image signing verification (#68)
  .gitignore
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.pptx
  pattern/ecs-fargate-container-image-signing-and-verification/diagram.svg
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-01.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-02.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/parent-step-03.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/redeploy.sh
  pattern/ecs-fargate-container-image-signing-and-verification/files/registry.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sample-task.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify.yml
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/Dockerfile
  pattern/ecs-fargate-container-image-signing-and-verification/files/sigverify/sigverify.py
  pattern/ecs-fargate-container-image-signing-and-verification/index.md
Labels: repo, pattern

Correct the ASG cleanup
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
Labels: pattern

fix linter error?
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
Labels: pattern

Adding ASG destroyer to all capacity provider templates
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Correctly turn on managed termination protection
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

New instances must be initially protected
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Correct the ASG cleanup (#69)
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Disable IMDSv1
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Enforce IMDSv2 for all EC2 launches
  lint/guard/guard-test/launch-template-imdsv2.yaml
  lint/guard/launch-template-imdsv2.guard
Labels: none

Disable IMDSv1 (#70)
  lint/guard/guard-test/launch-template-imdsv2.yaml
  lint/guard/launch-template-imdsv2.guard
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

Minor edits
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/ecs-task-events-capture-cloudwatch/index.md
Labels: pattern

Minor edits (#71)
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/ecs-task-events-capture-cloudwatch/index.md
Labels: pattern

Adding pattern for enforcing readonly root filesystem
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/read-only-root-filesystem.guard
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/readonly-root-filesystem.yml
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/writable-root-filesystem.yml
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Adding pattern for enforcing readonly root filesystem (#73)
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/read-only-root-filesystem.guard
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/readonly-root-filesystem.yml
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/files/writable-root-filesystem.yml
  pattern/enforce-read-only-root-filesystem-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern

Saving progress on the multiple capacity provider setup
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/capacity-provider-associations.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/service-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/single-az-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/index.md
  pattern/ecs-ec2-capacity-provider-scaling/index.md
Labels: pattern

Adding the service, plus managed draining
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/capacity-provider-associations.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/single-az-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/spot-cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

ENI trunking custom resource
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/cluster.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

More ENI trunking cleanups
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
Labels: pattern

Minor updates
  pattern/ecs-ec2-capacity-provider-scaling/files/service-capacity-provider.yml
Labels: pattern

templates all working
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/single-az-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/spot-cluster.yml
Labels: pattern

closes issue #74
  pattern/ecs-gpu-scheduling-cdk/files/index.ts
Labels: pattern

Update authors.yml
  data/authors.yml
Labels: none
