Repository aws-samples/container-patterns, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, pattern, author-added, lintjs, workflow

closes issue #74 (#75)
  pattern/ecs-gpu-scheduling-cdk/files/index.ts
Labels: pattern

ecs advanced container health check pattern
  pattern/ecs-advanced-container-health-check/files/files/healthcheck.py
  pattern/ecs-advanced-container-health-check/files/files/simple-container-definition.json
  pattern/ecs-advanced-container-health-check/files/index.md
Labels: pattern

Fixing the path
  pattern/ecs-advanced-container-health-check/files/healthcheck.py
  pattern/ecs-advanced-container-health-check/files/simple-container-definition.json
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

added profiles
  author/ opomer.md
  author/cssntan.md
  public/images/authors/cssntan.jpg
Labels: author-added

Uploaded the CHC image
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.png
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

Added the feedback comments
  pattern/ecs-advanced-container-health-check/files/healthcheck.go
  pattern/ecs-advanced-container-health-check/files/healthcheck.py
  pattern/ecs-advanced-container-health-check/files/healthcheck.sh
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

updating the headers
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

updating the headers
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

Saving progress
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-a.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-b.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-c.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/empty.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/README.md
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/service-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/index.md
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/three-az.svg
Labels: pattern

Add opomer as author
  author/ opomer.md
  author/opomer.md
  data/authors.yml
  public/images/authors/opomer.jpg
Labels: author-added

Update authors.yml
  data/authors.yml
Labels: none

Update index.md
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

Update index.md
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

Saving progress
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/index.md
Labels: pattern

Update index.md
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

Finalizing edits
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/cluster-preview.png
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/diagram.pptx
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/index.md
Labels: pattern

Linter cleanup
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/single-az-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
Labels: pattern

SVG upload
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.png
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.svg
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

SVG upload
  pattern/ecs-advanced-container-health-check/index.md
Labels: pattern

svg file
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.svg
Labels: pattern

svg upload
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.svg
Labels: pattern

ECS Advanced Container Health Check Pattern (#77)
  author/cssntan.md
  author/opomer.md
  data/authors.yml
  pattern/ecs-advanced-container-health-check/files/ecscontainerhealthcheck.svg
  pattern/ecs-advanced-container-health-check/files/healthcheck.go
  pattern/ecs-advanced-container-health-check/files/healthcheck.py
  pattern/ecs-advanced-container-health-check/files/healthcheck.sh
  pattern/ecs-advanced-container-health-check/files/simple-container-definition.json
  pattern/ecs-advanced-container-health-check/index.md
  public/images/authors/cssntan.jpg
  public/images/authors/opomer.jpg
Labels: pattern, author-added

Az balanced deployment (#78)
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/cluster-preview.png
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-a.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-b.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/container-c.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/diagram.pptx
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/empty.svg
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/README.md
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/capacity-provider-associations.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/cluster.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/parent.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/service-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/files/single-az-capacity-provider.yml
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/index.md
  pattern/balanced-ecs-on-ec2-container-deployment-across-az/three-az.svg
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
  pattern/ecs-spot-capacity-cluster/files/spot-cluster.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/inferentia-cluster.yml
  pattern/public-facing-api-ecs-ec2-cloudformation/files/cluster.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/cluster.yml
  pattern/worker-ecs-ec2-cloudformation/files/cluster.yml
Labels: pattern

fix typos and add extra punctuation
  pattern/release-container-to-production-task-definition/index.md
Labels: pattern

fix typos and add extra punctuation (#79)
  pattern/release-container-to-production-task-definition/index.md
Labels: pattern

Pattern about enabling ENI trunking
  pattern/cloudformation-turn-on-ecs-eni-trunking/diagram.pptx
  pattern/cloudformation-turn-on-ecs-eni-trunking/diagram.svg
  pattern/cloudformation-turn-on-ecs-eni-trunking/files/eni-trunking.yml
  pattern/cloudformation-turn-on-ecs-eni-trunking/index.md
Labels: pattern

Pattern about enabling ENI trunking (#80)
  pattern/cloudformation-turn-on-ecs-eni-trunking/diagram.pptx
  pattern/cloudformation-turn-on-ecs-eni-trunking/diagram.svg
  pattern/cloudformation-turn-on-ecs-eni-trunking/files/eni-trunking.yml
  pattern/cloudformation-turn-on-ecs-eni-trunking/index.md
Labels: pattern

Saving progress
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/service-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
Labels: pattern

Updating diagrams and instructions
  pattern/ecs-ec2-capacity-provider-scaling/architecture.svg
  pattern/ecs-ec2-capacity-provider-scaling/asg-rolling-update.svg
  pattern/ecs-ec2-capacity-provider-scaling/diagram.pptx
  pattern/ecs-ec2-capacity-provider-scaling/ecs-service-placement.svg
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/service-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
Labels: pattern

Addressing linter issues
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
Labels: pattern

Asg health signal (#81)
  pattern/ecs-ec2-capacity-provider-scaling/architecture.svg
  pattern/ecs-ec2-capacity-provider-scaling/asg-rolling-update.svg
  pattern/ecs-ec2-capacity-provider-scaling/diagram.pptx
  pattern/ecs-ec2-capacity-provider-scaling/ecs-service-placement.svg
  pattern/ecs-ec2-capacity-provider-scaling/files/cluster-capacity-provider.yml
  pattern/ecs-ec2-capacity-provider-scaling/index.md
Labels: pattern

add buildit demo for ecs sam dice app
  pattern/buildit-dice-app/diagram.pptx
  pattern/buildit-dice-app/diagram.svg
  pattern/buildit-dice-app/index.md
Labels: pattern

Adding shared ALB pattern for CDK
  pattern/advanced-public-facing-service-cdk/index.md
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/diagram.pptx
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/diagram.svg
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/cdk.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/index.ts
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/package-lock.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/package.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/service-one/Dockerfile
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/service-two/Dockerfile
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/tsconfig.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/index.md
Labels: pattern

Adding shared ALB pattern for CDK (#84)
  pattern/advanced-public-facing-service-cdk/index.md
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/diagram.pptx
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/diagram.svg
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/cdk.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/index.ts
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/package-lock.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/package.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/service-one/Dockerfile
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/service-two/Dockerfile
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/files/tsconfig.json
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/index.md
Labels: pattern

Adding new NLB -> ALB pattern
  pattern/advanced-public-facing-service-cdk/index.md
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/index.md
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/diagram.pptx
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/diagram.svg
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/cdk.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/index.ts
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/package-lock.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/package.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/service/Dockerfile
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/tsconfig.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/index.md
Labels: pattern

Adding new NLB -> ALB pattern (#85)
  pattern/advanced-public-facing-service-cdk/index.md
  pattern/cdk-shared-alb-for-amazon-ecs-fargate-service/index.md
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/diagram.pptx
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/diagram.svg
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/cdk.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/index.ts
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/package-lock.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/package.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/service/Dockerfile
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/files/tsconfig.json
  pattern/nlb-ingress-alb-load-balancer-fargate-service-cdk/index.md
Labels: pattern

Adding isolated VPC template
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/cluster.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/isolated-vpc.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/parent.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/private-service.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/service/Dockerfile
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
Labels: pattern

Finalizing the isolated VPC ref
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/diagram.pptx
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/diagram.svg
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/isolated-vpc.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
Labels: pattern

Modifying the diagrams and creating more cross links between VPC patterns
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/cluster.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
  pattern/large-vpc-for-amazon-ecs-cluster/diagram.pptx
  pattern/large-vpc-for-amazon-ecs-cluster/diagram.svg
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/low-cost-vpc-amazon-ecs-cluster/diagram.pptx
  pattern/low-cost-vpc-amazon-ecs-cluster/diagram.svg
  pattern/low-cost-vpc-amazon-ecs-cluster/index.md
Labels: pattern

Isolated vpc example (#87)
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/diagram.pptx
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/diagram.svg
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/cluster.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/isolated-vpc.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/parent.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/private-service.yml
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/files/service/Dockerfile
  pattern/ecs-cluster-isolated-vpc-no-nat-gateway/index.md
  pattern/large-vpc-for-amazon-ecs-cluster/diagram.pptx
  pattern/large-vpc-for-amazon-ecs-cluster/diagram.svg
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/low-cost-vpc-amazon-ecs-cluster/diagram.pptx
  pattern/low-cost-vpc-amazon-ecs-cluster/diagram.svg
  pattern/low-cost-vpc-amazon-ecs-cluster/index.md
Labels: pattern

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'pattern' label to any change to blog post files
pattern:
- pattern/**

# Add 'author-added' label
author-added:
- author/**

# Add 'lintjs' to any change to lint.js
lintjs:
- lint.js

# Add 'workflow' label
workflow:
- .github/workflows/**
