Repository aws-samples/container-patterns, pull requests merged in 2023-11, with the labels that each got.

#51 Track ecr metrics
  author/mike-fiedler.md
  data/authors.yml
  pattern/ecr-image-size-and-count-usage-metrics/diagram.pptx
  pattern/ecr-image-size-and-count-usage-metrics/diagram.svg
  pattern/ecr-image-size-and-count-usage-metrics/files/.gitignore
  pattern/ecr-image-size-and-count-usage-metrics/files/Dockerfile
  pattern/ecr-image-size-and-count-usage-metrics/files/template.yml
  pattern/ecr-image-size-and-count-usage-metrics/index.md
  pattern/ecr-image-size-and-count-usage-metrics/screenshot.png
  public/images/authors/mike-fiedler.jpg
Labels: pattern, author-added

#50 Turning off unneeded public IP address in a pattern that didn't need them.
  pattern/public-facing-api-ecs-fargate-cloudformation/files/service.yml
Labels: pattern

#52 Refactor relative links
  pattern/advanced-public-facing-service-cdk/index.md
  pattern/amazon-ecs-cluster-with-terraform/index.md
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/basic-cdk-service-custom-image/index.md
  pattern/bun-js-aws-sdk-container/index.md
  pattern/cloudformation-ecs-durable-task-storage-with-efs/index.md
  pattern/ecs-delete-task-definition/index.md
  pattern/ecs-ec2-bottlerocket-cluster/index.md
  pattern/ecs-ec2-capacity-provider-scaling/index.md
  pattern/ecs-entrypoint-command-task-definition/index.md
  pattern/ecs-example-iam-roles/index.md
  pattern/ecs-fargate-apigateway-cloudmap-cdk/index.md
  pattern/ecs-gpu-scheduling-cdk/index.md
  pattern/ecs-service-connect-aws-copilot/index.md
  pattern/ecs-service-dashboard-cloudformation/index.md
  pattern/ecs-service-extensions-cdk-efs-volume/index.md
  pattern/ecs-service-extensions-custom-extension/index.md
  pattern/ecs-service-extensions-firelens-cdk/index.md
  pattern/ecs-service-extensions-load-balancer-cdk/index.md
  pattern/ecs-spot-capacity-cluster/index.md
  pattern/ecs-task-events-capture-cloudwatch/index.md
  pattern/ecs-task-maximum-lifespan-duration/index.md
  pattern/elastic-file-system-aws-copilot/index.md
  pattern/elastic-file-system-ecs-cdk/index.md
  pattern/fargate-right-sizing-dashboard/index.md
  pattern/generate-task-definition-json-cli/index.md
  pattern/inject-config-files-ecs-task-definition/index.md
  pattern/jupyter-notebook-inference-container-cloudformation/index.md
  pattern/large-vpc-for-amazon-ecs-cluster/index.md
  pattern/load-balanced-public-service-with-terraform/index.md
  pattern/low-cost-vpc-amazon-ecs-cluster/index.md
  pattern/public-facing-api-ecs-ec2-cloudformation/index.md
  pattern/public-facing-api-ecs-fargate-cloudformation/index.md
  pattern/public-facing-web-ecs-ec2-cloudformation/index.md
  pattern/public-facing-web-ecs-fargate-cloudformation/index.md
  pattern/pulumi-ecs-service-in-vpc/index.md
  pattern/pulumi-load-balanced-ecs-service/index.md
  pattern/scale-ecs-service-cloudformation/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/index.md
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/index.md
  pattern/worker-ecs-ec2-cloudformation/index.md
Labels: pattern

#54 Add code fence
  pattern/ecr-image-size-and-count-usage-metrics/index.md
Labels: pattern

#55 Adding Container Health Check
  pattern/api-gateway-fargate-cloudformation/files/service.yml
  pattern/api-gateway-fargate-cloudformation/index.md
Labels: pattern

#58 Nginx reverse proxy
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/diagram.pptx
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/diagram.svg
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/.gitignore
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/Dockerfile
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/README.md
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/bun.lockb
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/index.js
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/jsconfig.json
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/app/package.json
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/cluster.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/nginx/Dockerfile
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/nginx/index.html
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/nginx/nginx.conf
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/parent.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/service.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/vpc.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/index.md
  pattern/pulumi-automate-image-build/index.md
  pattern/register-ecs-anywhere-linux-capacity/index.md
  pattern/register-ecs-anywhere-windows-capacity/index.md
  pattern/release-container-to-production-task-definition/index.md
  pattern/scheduled-cron-job-container-ecs-copilot/index.md
  pattern/target-tracking-scale-ecs-service-cloudformation/index.md
  pattern/task-definition-across-ec2-and-fargate/index.md
Labels: pattern

#61 Enforcing non-blocking mode for awslogs, adding policy as code pattern
  data/filters.yml
  lint/guard/README.md
  lint/guard/awslogs-logging-driver.guard
  lint/guard/guard-test/awslogs-non-blocking-tests.yaml
  pattern/api-gateway-fargate-cloudformation/files/service.yml
  pattern/bun-js-aws-sdk-container/files/service.yml
  pattern/cloudformation-ecs-durable-task-storage-with-efs/files/ecs-mount-efs-storage.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/bottlerocket-updater.yml
  pattern/ecs-ec2-bottlerocket-cluster/files/service.yml
  pattern/ecs-ec2-capacity-provider-scaling/files/service-capacity-provider.yml
  pattern/ecs-spot-capacity-cluster/files/service.yml
  pattern/jupyter-notebook-inference-container-cloudformation/files/jupyter-notebook.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/files/service.yml
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/index.md
  pattern/nonblocking-awslogs-policy-as-code/blocking.svg
  pattern/nonblocking-awslogs-policy-as-code/diagram.pptx
  pattern/nonblocking-awslogs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/nonblocking.svg
  pattern/public-facing-api-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-api-ecs-fargate-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-ec2-cloudformation/files/service.yml
  pattern/public-facing-web-ecs-fargate-cloudformation/files/service.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/hello.yml
  pattern/service-discovery-fargate-microservice-cloud-map/files/name.yml
  pattern/split-traffic-between-ec2-fargate-with-cloudformation/files/service-across-ec2-and-fargate.yml
  pattern/worker-ecs-ec2-cloudformation/files/service.yml
Labels: pattern

#64 Adding a filter for SAM CLI
  data/filters.yml
  pattern/api-gateway-fargate-cloudformation/index.md
  pattern/bun-js-aws-sdk-container/index.md
  pattern/ecr-image-size-and-count-usage-metrics/index.md
  pattern/ecs-ec2-bottlerocket-cluster/index.md
  pattern/ecs-ec2-capacity-provider-scaling/index.md
  pattern/ecs-spot-capacity-cluster/index.md
  pattern/jupyter-notebook-inference-container-cloudformation/index.md
  pattern/nginx-reverse-proxy-sidecar-ecs-fargate-task/index.md
  pattern/public-facing-api-ecs-ec2-cloudformation/index.md
  pattern/public-facing-api-ecs-fargate-cloudformation/index.md
  pattern/public-facing-web-ecs-ec2-cloudformation/index.md
  pattern/public-facing-web-ecs-fargate-cloudformation/index.md
  pattern/service-discovery-fargate-microservice-cloud-map/index.md
  pattern/worker-ecs-ec2-cloudformation/index.md
Labels: pattern

#62 add sam cli with fargate pattern
  docs/add-a-pattern.md
  pattern/sam-fargate/diagram.pptx
  pattern/sam-fargate/diagram.svg
  pattern/sam-fargate/files/Dockerfile
  pattern/sam-fargate/files/index.js
  pattern/sam-fargate/files/package.json
  pattern/sam-fargate/files/samconfig.toml
  pattern/sam-fargate/files/template.yml
  pattern/sam-fargate/files/vpc.yml
  pattern/sam-fargate/index.md
Labels: pattern

#65 test exit code
  .cfnlintrc.yml
  lint.sh
  pattern/sam-fargate/files/template.yml
  prompt
Labels: repo, pattern

#63 Adding pattern for blocking privileged containers
  pattern/deny-privileged-container-ecs-policy-as-code/files/privileged-task-def.yml
  pattern/deny-privileged-container-ecs-policy-as-code/files/privileged-tasks.guard
  pattern/deny-privileged-container-ecs-policy-as-code/files/safe-task-def.yml
  pattern/deny-privileged-container-ecs-policy-as-code/index.md
  pattern/nonblocking-awslogs-policy-as-code/index.md
Labels: pattern
